@page "/home"

<section class="first first--big main__section">
	<div class="first__wrap wrap">
		<h2 class="first__subtitle">
			<svg class="first__subtitle-icon" aria-hidden="true"><use xlink:href="#loupe" x="0" y="0"></use></svg>
			Бесплатная диагностика <br>в&nbsp;день обращения
		</h2>

		<h1 class="wrap__title wrap__title--big first__title">
			Ремонт телефонов <br>
			планшетов и&nbsp;ноутбуков <br>
			любой сложности
		</h1>

		<div class="first__warranty">
			<svg class="first__warranty-icon" aria-hidden="true"><use xlink:href="#warranty" x="0" y="0"></use></svg>
			<p class="first__warranty-text">
				<strong class="first__warranty-strong">Гарантия до&nbsp;1&nbsp;года</strong>
				Самая большая гарантия <br>
				в&nbsp;городе на&nbsp;ремонт и&nbsp;запчасти
			</p>
		</div>

		<a class="wrap__button wrap__button--big first__button" href="https://api.whatsapp.com/send/?phone=79114600190&amp;text=%D0%9F%D0%BE%D0%B6%D0%B0%D0%BB%D1%83%D0%B9%D1%81%D1%82%D0%B0%2C%20%D0%BE%D1%82%D0%BF%D1%80%D0%B0%D0%B2%D1%8C%D1%82%D0%B5%20%D1%8D%D1%82%D0%BE%20%D1%81%D0%BE%D0%BE%D0%B1%D1%89%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B4%D0%BB%D1%8F%20%D1%81%D0%B2%D1%8F%D0%B7%D0%B8%20%D1%81%20%D0%BF%D0%B5%D1%80%D1%81%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%BC%20%D0%BC%D0%B5%D0%BD%D0%B5%D0%B4%D0%B6%D0%B5%D1%80%D0%BE%D0%BC%20%23082359%20%D0%A1%D0%BF%D0%B0%D1%81%D0%B8%D0%B1%D0%BE%21" target="_blank">
			<svg class="first__button-icon" aria-hidden="true"><use xlink:href="#whatsapp" x="0" y="0"></use></svg>
			Написать в&nbsp;WhatsApp
		</a>

		<a class="wrap__call wrap__call--default first__phone" href="tel:+78352603063">8&nbsp;<span>(8352)</span>&nbsp;60-30-63</a>

		<div class="first__sticker">
			<svg class="first__sticker-icon" aria-hidden="true"><use xlink:href="#sticker-icon" x="0" y="0"></use></svg>
		</div>
	</div>
</section>

@code {

}


